.badge {
    display: inline-block;
    font-weight: 500;
    font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; 
    margin: 0.25rem;
}

.badge-square {
    border-radius: 4px;
}

.badge-pill {
    border-radius: 5555px;
}

.badge-small {
    height: 1.5rem;
    width: 4rem;
    padding: 0rem 0.5rem;
    font-size: 0.75rem;
}

.badge-medium {
    height: 2.375rem;
    width: 6.25rem;
    padding: 0rem 0.875rem;
    font-size: 0.9rem;
}

.badge-large {
    height: 3rem;
    width: 8rem;
    padding: 0rem 1rem;
    font-size: 1rem;
}

.badge-blue {
    background-color: #DBEAFE;
    color: #1E40AF;
}

.badge-gray {
    background-color: #F3F4F6;
    color: #1F2937;
}

.badge-red {
    background-color: #FEE2E2;
    color: #991B1B;
}

.badge-yellow {
    background-color: #FEF3C7;
    color: #92400E;
}

.badge-green {
    background-color: #DCFCE7;
    color: #166534;
}

.badge-indigo {
    background-color: #E0E7FF;
    color: #3730A3;
}

.badge-purple {
    background-color: #EDE9FE;
    color: #6B21A8;
}

.badge-pink {
    background-color: #FCE7F3;
    color: #BE185D;
}